* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo: #ffffff;
    --cor-do-texto: #000000;
}

body {
    background-color: var(--cor-de-fundo)
}

h1 {
    color: var(--cor-do-texto);
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #214427;
}
header a {
    color: #000000;
    text-decoration: none;
}

nav{
    height: 100%;
    width: 0px;
    background-color: #214427;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    transition: widht 0.3s;
}

nav a{
    padding: 20px 0;
    color: #9dc9a4;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px ;
}

nav a:hover{
    color: #214427;
    background-color: #9dc9a4;
}

main{
    padding: 10px;
    transition: margin-left 0.5s;
}

.nome {
    font-size: 55px;
    color: #9dc9a4;
    font-family: "oswald", sans-serif;
}

.hello-kitty {
    display: flex;
    align-items: center;
    margin: -5% 0;
}

.marca {
    width: 32%;
    padding: 1% 0;
    position: relative;
    top: 69px;
    right: 37px; 
}

#icon-pesquisa {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ffd5b2;
    border-radius: 40px;
    margin: 7% 20%;
}

.icon-pesquisa {
    user-select: none;
    cursor: pointer;
}

.texto-pesqu {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
    background-color: #4c8355;
    border-radius: 92px;
}

.icon {
    width: 40px;
    height: 40px;

}

.caixa-pesquisa {
    display: flex;
    height: 168px;
    align-items: center;

}

.caixa-pesquisa:hover > .texto-pesqu {
   width: 240px;
}

.titulo {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.menu{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 336;
    font-style: normal;
}




.topico {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
    padding: 0 8%;
    color: #030e04;
}

.topico1 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    padding: 0px 7%;
    color: #030e04;
    padding-top: 70px;
}

.section {
    padding: 3%;
    background-color: #ffffff;
    margin: 0 3%;
    border-radius: 50px;
    border: 27px solid rgb(162 193 172 / 62%);
}

.section1 {
    padding: 3%;
    background-color: #ffffff;
    margin: 3%;
    border-radius: 50px;
    border: 27px solid rgba(213, 229, 218, 0.62);
}


.quem_somos{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    padding: 0 4%;
    color: #030e04;
    padding-top: 4%;
}
.desenvol {
    padding: 0 40px;
    font-size: 24px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 336;
    font-style: normal;
}

.logo {
    width: 58%;
    float: left;
    padding: 5%;
    user-select: none;
    cursor: pointer;
    margin-top: 9%;
}

.logoadvance {
    width: 88%;
    float: left;
    padding: 10% 0;
    user-select: none;
    cursor: pointer;
    margin-left: 8%;
}

.logofaemg {
    width: 85%;
    float: left;
    padding: 5%;
    user-select: none;
    cursor: pointer;
    margin-left: 5%;
}

.logohortinha {
    border-radius: 17%;
    width: 44%;
    float: left;
    padding: 0 5%;
    user-select: none;
    cursor: pointer;
    margin-top: 7%;
}

.logobne{
    width: 85%;
    float: left;
    padding: 5%;
    user-select: none;
    cursor: pointer;
    margin-left: 10%;
}

.logobr {
    width: 76%;
    float: left;
    user-select: none;
    cursor: pointer;
    padding: 5%;
    margin-left: 10%;
}

.google{
    height: 20%;
    width: 90%;
    margin-left: 5%;
}

.descri{
    font-size: 19px;
    padding: 34px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 336;
    font-style: normal;
  }

.letrinha-pequena{
    margin: 0 31px;
    font-size: 17px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .letrinha-pequena1{
    color: #000000;
    font-size: 17px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
  }
 
  .texto-comunidade {
    display: flex;
    width: 90%;
    margin: 0 28px;
    background: none;
    outline: none;
    padding: 20px;
    font-size: 16px;
    transition: .5s;
    background-color: #afbbb1;
    border-radius: 25px;
    padding-bottom: 164px;
    flex-wrap: wrap;
  }


.caixa-comunidade {
    margin: 18px 0px;
    height: 168px;
}

.botao{
    margin-left: 6%;
    border-radius: 46px;
    background: #aec9ba;
    margin-top: 2%;
}

footer {
    min-height: 250px;
    display: flex;
    width: 100%;
    background: #214427;
    flex-direction: column;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 336;
    font-style: normal;
}

footer .boxs {
    text-align: center;
    width: 100%;
    min-height: 150px;
    padding: 52px;
    font-size: 32px;
}

 .boxs h2{
    color: #b6e9be;
    margin-bottom: 20px;
 }

 .boxs ul li{
    margin:10px 0px;
    list-style: none;
 }

 .boxs ul li a{
    color:#e5f7e7;
    text-decoration: none;
 }

 .boxs ul li a:hover {
    color:#9dc9a4;
 }

.rede-social{
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    color: #000000;
} 


@media screen and (min-width: 1024px) {

    .hello-kitty {
        display: flex;
        align-items: center;
        margin: -3% 0;
    }

    .nome {
        font-size: 70px;
        color: #9dc9a4;
        font-family: "oswald", sans-serif;
    }

    .caixa-pesquisa {
        height: 68px;

    }

.descri{
    font-size: 29px;
    padding: 34px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 336;
    font-style: normal;
  }

.letrinha-pequena{
    font-size: 25px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .letrinha-pequena1{
    color: #000000;
    font-size: 25px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    color: #000000;
  }

.section {
    padding: 2%;
    background-color: #ffffff;
    margin: 0 3%;
    border-radius: 50px;
    border: 50px solid rgba(213, 229, 218, 0.62);
}

.logobr {
    margin-left: -2%;
    width: 37%;
    float: left;
    user-select: none;
    cursor: pointer;
    padding: 4%;
}

.logobne {
    width: 38%;
    float: left;
    user-select: none;
    cursor: pointer;
    padding: 0 5%;
}

.logo {
    width: 47%;
    float: left;
    padding: 6% 5%;
    user-select: none;
    cursor: pointer;
}

.logofaemg {
    width: 47%;
    float: left;
    padding: 5%;
    user-select: none;
    cursor: pointer;
}

.logoadvance {
    width: 47%;
    float: left;
    padding: 8% 5%;
    user-select: none;
    cursor: pointer;
}

.logohortinha {
    border-radius: 17%;
    width: 44%;
    float: left;
    padding: 0 5%;
    user-select: none;
    cursor: pointer;
    margin-top: 0%;
}

.texto-comunidade {
    display: flex;
    margin: 0 28px;
    background: none;
    outline: none;
    padding: 20px;
    font-size: 16px;
    transition: .5s;
    background-color: #afbbb1;
    border-radius: 25px;
    padding-bottom: 164px;
    flex-wrap: wrap;
}

.caixa-comunidade{
        height: 168px;
    }

.botao{    
    margin-left: 3%;
    width: 14%;
    border-radius: 40px;
    background: #aec9ba;
    margin-top: 2%;
    height: 48px;
}

.topico{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    padding: 0 4%;
    color: #030e04;
}

.topico1{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    padding: 0 4%;
    color: #030e04;
    padding-top: 91px;
}

.desenvol{
  padding: 0 50px;
  font-size: 26px;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 336;
  font-style: normal;
}

    footer {
        display: flex;
        flex-direction: row;
    }
}