* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo: #ffffff;
    --cor-do-texto: #000000;
}

body {
    background-color: var(--cor-de-fundo)
}

h1 {
    color: var(--cor-do-texto);
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #214427;
}
header a {
    color: #000000;
    text-decoration: none;
}


.nome {
    font-size: 55px;
    color: #9dc9a4;
    font-family: "oswald", sans-serif;
}

.logo {
    width: 32%;
    padding: 1% 0;
    position: relative;
    top: 69px;
    right: 37px;
}

.hello-kitty {
    display: flex;
    align-items: center;
    margin: -5% 0;
}


#icon-pesquisa {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ffd5b2;
    border-radius: 40px;
    margin: 7% 20%;
}

.icon-pesquisa {
    user-select: none;
    cursor: pointer;
}

.texto-pesqu {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
    background-color: #4c8355;
    border-radius: 92px;
}

.icon {
    width: 40px;
    height: 40px;

}

.caixa-pesquisa {
    display: flex;
    height: 168px;
    align-items: center;

}

.caixa-pesquisa:hover > .texto-pesqu {
   width: 240px;
}

.titulo {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}


nav{
    height: 100%;
    width: 0px;
    background-color: #214427;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    transition: widht 0.3s;
}

nav a{
    padding: 20px 0;
    color: #9dc9a4;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px ;
}

nav a:hover{
    color: #214427;
    background-color: #9dc9a4;
}

main{
    padding: 10px;
    transition: margin-left 0.5s;
}

.topico{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    padding: 0 4%;
    color: #030e04;
}

.quem_somos{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    padding: 0 4%;
    color: #030e04;
    padding-top: 4%;
}

.desenvol{
  font-size: 35px;
  padding: 0 6%;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 336;
  font-style: normal;
}

.descri{
    font-size: 35px;
    padding: 0 6%;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 336;
    font-style: normal;
  }

.letrinha-pequena{
    font-size: 25px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
 
.texto-comunidade {
    display: flex;
    width: 400px;
    margin: 0 28px;
    background: none;
    outline: none;
    padding: 20px;
    font-size: 16px;
    transition: .5s;
    background-color: #afbbb1;
    border-radius: 25px;
    padding-bottom: 164px;
    flex-wrap: wrap;
}

.caixa-comunidade{
        height: 168px;
    }


footer {
    min-height: 250px;
    display: flex;
    width: 100%;
    background: #214427;
    flex-direction: column;
    text-align: center;
}

footer .boxs {
    text-align: center;
    width: 100%;
    min-height: 150px;
    padding: 52px;
    font-size: 32px;
}

 .boxs h2{
    color: #b6e9be;
    margin-bottom: 20px;
 }

 .boxs ul li{
    margin:10px 0px;
    list-style: none;
 }

 .boxs ul li a{
    color:#e5f7e7;
    text-decoration: none;
 }

 .boxs ul li a:hover {
    color:#9dc9a4;
 }

@media screen and (min-width: 1024px) {

    .hello-kitty {
        display: flex;
        align-items: center;
        margin: -3% 0;
    }
    
    .nome {
        padding: 0 19px;
        font-size: 70px;
        color: #9dc9a4;
        font-family: "oswald", sans-serif;
    }
    
    .caixa-pesquisa {
        height: 68px;

    }

    .texto-comunidade{
        width: 74%;
        margin: 0 97px;
        background: none;
        outline: none;
        padding: 20px;
        font-size: 16px;
        transition: .5s;
        background-color: #afbbb1;
        border-radius: 25px;
        padding-bottom: 172px;
    }
    

    footer {
        display: flex;
        flex-direction: row;
    }
}
