* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo: #ffffff;
    --cor-do-texto: #000000;
}

body {
    background-color: var(--cor-de-fundo)
}

h1 {
    color: var(--cor-do-texto);
}

section {
    display: flex;
    color: rgb(#000000);
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eb8fae;
}

header a {
    color: #000000;
    text-decoration: none;
}
    
.botaoesquerda{
    margin: 46px;
    display: flex;
    cursor: pointer;
    font-family: "oswald", sans-serif;
}

.ati{
    margin: 5px;
    font-size: 23px;
    padding: 6%;
    background-color: #ffdce8;
    border-radius: 5px;
}

.prov{
    margin: 5px;
    font-size: 23px;
    padding: 6%;
    background-color: #ffdce8;
    border-radius: 5px;
}

.proj{
    margin: 5px;
    font-size: 23px;
    padding: 6%;
    background-color: #ffdce8;
    border-radius: 5px;
}

.nome {
    font-size: 55px;
    color: #ffffff;
    font-family: "oswald", sans-serif;
}

.hello-kitty {
    display: flex;
    align-items: center;
    margin: -5% 0;
}

#icon-pesquisa {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ffd5b2;
    border-radius: 40px;
    margin: 7% 20%;
    
}

.icon-pesquisa {
    user-select: none;
    cursor: pointer;
}

.icon {
    width: 40px;
    height: 40px;
}

.texto-pesqu {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
    background-color: #9c5177;
    border-radius: 92px;
}
  
.caixa-pesquisa {
    height: 68px;
    display: flex;
    align-items: center;
}

.caixa-pesquisa:hover > .texto-pesqu {
   width: 240px;
}

.menu{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 336;
    font-style: normal;
}

nav{
    height: 100%;
    width: 0px;
    background-color: #79213d;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    transition: widht 0.3s;
}

nav a{
    padding: 20px 0;
    color: #c99dac;
    font-size: 25px;
    display: block;
    padding: 9px 52px 12px 58px ;
}

nav a:hover{
    color: #a53d6d;
    background-color: #f3a1c3;
}

main{
    padding: 10px;
    transition: margin-left 0.5s;
}

.banner {
    margin: 5% 14%;
    background-color: #f48fb1;
    color: white; 
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
    font-size: 16px; 
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}   
  
  .banner span {
    font-size: 64px;
  }

.titi{
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
    border-radius: 9px;
    margin: 0 19%;
    color: white;
    font-size: 33px;
    background-color: #f06ba5;
    padding: 6px;
}

.titiii{
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
    border-radius: 9px;
    margin: 0 19%;
    color: white;
    font-size: 33px;
    background-color: #ec9cbf;
    padding: 6px;
}

.titii{
    margin-left: -17%;
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
    padding: 0 24%;
    display: flex;
    background-color: #ffffff;
}


.a{
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
 background-color:#ffffff;
 display: flex;
 padding: 4%;
}

.b{
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
    background-color:#ffffff;
    display: flex;
    padding: 4%;
   }

   .c{
    font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
    background-color:#ffffff;
    display: flex;
    padding: 4%;
   }
   
   
  .card {
    padding: 0 20px;
    border-radius: 17px;
    border: 28px solid rgb(255, 109, 146);
    margin: 0 8px;
  }
  
  .card h3 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: #f06ba5;
    font-size: 22px;
    margin-bottom: 8px;
  }
  
  .card p {
    font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
    font-size: 22px;
    color: #000000;
    text-align: justify;
  }

  .cardd {
    padding: 0 20px;
    border-radius: 17px;
    border: 28px solid #ec9cbf;
    margin: 0 8px;
  }
  
  .cardd h3 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: #ec9cbf;
    font-size: 22px;
    margin-bottom: 8px;
  }
  
  .cardd p {
    font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
    font-size: 22px;
    color: #000000;
    text-align: justify;
  }



footer {
    min-height: 250px;
    display: flex;
    width: 100%;
    background: #ff3672;
    flex-direction: column;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 336;
    font-style: normal;
}

footer .boxs {
    text-align: center;
    width: 100%;
    min-height: 150px;
    padding: 52px;
    font-size: 32px;
}

 .boxs h2{
    color: #e9b6b6;
    margin-bottom: 20px;
 }

 .boxs ul li{
    margin:10px 0px;
    list-style: none;
 }

 .boxs ul li a{
    color:#f7e5e5;
    text-decoration: none;
 }

 .boxs ul li a:hover {
    color:#b3285d;
 }

.rede-social{
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    color: #000000;
} 