* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

:root {
    --cor-de-fundo: #ffffff;
    --cor-do-texto: #000000;
}

body {
    background-color: var(--cor-de-fundo)
}

h1 {
    color: var(--cor-do-texto);
}

.nome {
    font-size: 479%;
    color: #9dc9a4;
    padding: 10% 7%;
    font-family: "oswald", sans-serif;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #214427;
}

.logo {
    width: 32%;
    padding: 1% 0;
    position: relative;
    top: 69px;
    right: 37px;
}

section {
    display: flex;
    color: rgb(#000000);
    padding: 20px;
    background-color: #ffffff;
}

footer {
    min-height: 250px;
    display: flex;
    width: 100%;
    display: flex;
    background: #214427;
}

footer .boxs {
  
    width: 320px;
    min-height: 150px;
    padding: 20px;
}
 .boxs h2{
    color: #b6e9be;
    margin-bottom: 20px;
 }

footer .boxs:nth-child(4) {
 width: 400px;
 }

 .boxs ul li{
    margin:10px 0px;
    list-style: none;
 }

 .boxs ul li a{
    color:#e5f7e7;
    text-decoration: none;
 }

 .boxs ul li a:hover {
    color:#9dc9a4;
 }


.footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #093611;
}
 
.footer .sociais{
    display: flex;
}

.sociais .social{
    width: 40px;
    height: 40px;
    background-color:#093611;
    text-align: center;
    line-height: 40px;
    margin: 10px;
}

.footer h2{
    color: #9dc9a4;
}

.sociais .social a {
    color: #000;
    font-size: 1.5em;
}


.hello-kitty {
    display: flex;
    align-items: center;
    margin: -5% 0;
}

.doces {

    padding: 14px;
    width: 226px;
    font-size: 25px;
    margin: 0 29px;
    text-align: center;
    border-radius: 17%;
}

.titulo {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

#icon-pesquisa {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ffd5b2;
    border-radius: 40px;
    margin: 7% 20%;
    
}

.div-equipe {

    text-align: center;
    border-radius: 70px;

}

.rodape {
    background-color: #0a3311;
    display: grid;
    grid-template-columns: 55% 45%;
    font-size: 25px;
    align-items: center;
}

header a {
    color: #000000;
    text-decoration: none;
}

.item {
    display: grid;
    grid-template-columns: 50% 50%;

}

.logos {
    margin: 0 10%;
    padding: 6%;
    display: flex;
    align-items: center;
}

.logos2 {
    margin: 0 12%;
    padding: 6%;
    display: flex;
    align-items: center;
}


.img-casa{
    width: 51%;
    padding: 300px 0%;
}

.titulo-principal{
    margin: 25px 4%;
    padding: 14% 0;
    font-size: 397%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.cont-titulo{
    font-family: "DM sans", sans-serif;
    margin: 25px 4%;
    padding: 14% 0;
    font-size: 397%;
}

.topico{

    font-size: 252%;
    padding: 0 4%;
    color: #030e04;
}

.desenvol{
    font-size: 178%;
    padding: 0 6%;
}

.letrinha-pequena{
    font-size: 65%;
}

.icon-pesquisa {
    user-select: none;
    cursor: pointer;
}

.texto-pesqu {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .5s;
    background-color: #4c8355;
    border-radius: 92px;
}
    
.icon {
    width: 40px;
    height: 40px;

}

.caixa-pesquisa {
    top: 50%;
    left: 50%;
    height: 68px;

}

.caixa-pesquisa:hover > .texto-pesqu {
   width: 240px;
}

nav{
    height: 100%;
    width: 0px;
    background-color: #214427;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    transition: widht 0.3s;
}

nav a{
    padding: 20px 0;
    color: #9dc9a4;
    font-size: 25px;
    display: block;
    padding: 12px 10px 12px 32px ;
}

nav a:hover{
    color: #214427;
    background-color: #9dc9a4;
}

main{
    padding: 10px;
    transition: margin-left 0.5s;
}

.apresentação{
    font-size: 178%;
    padding: 0 6%;
}


@media(max-width: 950px){
    footer {
        flex-direction: column;
    }
    footer .boxs {
       
        width: 320px;
        text-align: center;
    }
    footer .boxs:nth-child(4) {
        width: 100%;
        }
}
