* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-de-fundo: #ffffff;
    --cor-do-texto: #000000;
}

body {
    background-color: var(--cor-de-fundo)
}

h1 {
    color: var(--cor-do-texto);
}

.nome {
    font-size: 385%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #214427;
}

.logo {
    width: 35%;
    padding: 1% 0;
    position: relative;
    top: 72px;
}

.coxinha-principal {
    width: 30%;
    border-radius: 130px;
    border: 80px solid #ffffff;
    margin-inline-start: auto;
}

section {
    display: flex;
    color: rgb(#000000);
    padding: 20px;
    background-color: #ffffff;
}

.hello-kitty {
    display: flex;
    align-items: center;
}

.doces {

    padding: 14px;
    background-color: #ffd5b2;
    width: 226px;
    font-size: 25px;
    margin: 0 29px;
    text-align: center;
    border-radius: 17%;
}


.titulo {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

#equipe {

    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ffd5b2;
    border-radius: 40px;
    margin: 7% 20%;
}

#doces {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ff91b2;
}

#salgados {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    background-color: #ffd5b2;
}


.foto-equipe {
    width: 50%;
    border-radius: 10px;
}

.foto-doce {
    width: 35%;
    border-radius: 10px;
}

.foto-pizza {
    width: 69%;
    border-radius: 10px;
} 

.div-equipe {

    text-align: center;
    border-radius: 70px;

}

.rodape {
    background-color: #ff91b2;
    display: grid;
    grid-template-columns: 55% 45%;
    font-size: 25px;
    align-items: center;

}

.linha {
    border: solid 1px var(--cor-do-texto);
}

header a {
    color: #000000;
    text-decoration: none;
}

.nome-das-coxinhas {
    display: flex;
    justify-content: right;
    font-size: 23px;
    padding: 0 2%;
}

.combo1 {
    width: 355px;
    border-radius: 10px;
}

.combo2 {
    width: 400px;
    border-radius: 10px;
}

.local-nomes {
    display: flex;
    padding: 20px;
    font-size: 23px;
    align-items: center;
}


.descricao {
    font-size: 193%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
}



.item {
    display: grid;
    grid-template-columns: 50% 50%;

}

.logos {
    margin: 0 10%;
    padding: 6%;
    display: flex;
    align-items: center;
}

.logos2 {
    margin: 0 12%;
    padding: 6%;
    display: flex;
    align-items: center;
}

.foto-item {
    width: 226px;
    border-radius: 10px;
}

.icon{
    width: 15%;
    border-radius: 10px;
}

.icon2{
    width: 15%;
    border-radius: 10px;
    margin: 0 -2%;
}
.nome-icon{

    font-size: 100%;
}

.nome-icon2{
    font-size: 100%;
    padding: 0 3%;
}

.nomes-redes{
    padding: 0 4%
}